.card {
    background-color: rgb(48, 46, 46);
    color:azure;
    border-radius: 10px;
    border: 1px solid rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%;
    padding: 2px 1px;
    height: auto;
    margin:4px;
   flex-wrap: wrap;
   box-sizing: border-box;

}
@media (max-width: 768px) {
 .card {
    flex-direction: column;
    width:45%
 }

 .pcontainer{
    justify-content: center;
    align-items: center;
   
 }
 .div{
    border-bottom: 1px solid rgba(182, 177, 177, 0.425);
    margin-bottom: 10px;
    width: 75%;
    margin: 5px 0
 }

}

.p{
    font-size: small;
vertical-align: bottom;
   
}

.pcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.div{
    margin-right: 20px
    
}



.name {
    color: yellow;

    
}

.titlecontainer{
    display:block
}

